.users {
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
  }


  // th {
  //   padding-top: 12px;
  //   padding-bottom: 12px;
  //   text-align: left;
  // }
}