.users {
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
  }

  td, th {
    border: 1px solid #ddd;
    padding: 20px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }
}